body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.body {
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.unfocused {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: black;
    animation: fade 0.5s linear 0.75s normal;
    animation-fill-mode: forwards;
}

.focused {
    z-index: 15;
    position: fixed;
}

header {
    background-color: #002147;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.support {
    padding: 20px;
    color: black;
}

.faq {
    margin-top: 20px;
}

.faq-item {
    margin-bottom: 15px;
}

footer {
    background-color: #002147;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.chat-window {
    position: fixed;
    bottom: 2.5%;
    right: 1.5%;
    font-size: 1.2rem;

    width: 20%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    z-index: 20;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-window h3 {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    text-align: center;
}

.chat-content {
    max-height: 20rem;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 5px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chat-window input[type="text"] {
    font-size: 1.1rem;

    width: calc(100% - 50px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1%;
}

.chat-window button {
    font-size: 1.1rem;

    padding: 5px;
    background-color: #002147;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.full-page-cover {
    position: absolute;
    z-index: 25;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
}

.verification {
    z-index: 30;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 20%;
}


@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 0.75;}
}

